<a href="https://colab.research.google.com/github/Thalma8/data-analysis/blob/main/Stroke_Prediction_system.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
datafile = pd.read_csv('/content/healthcare-dataset-stroke-data.csv')
print("the data looks like this")
print(datafile.head)

the data looks like this
<bound method NDFrame.head of          id  gender   age  hypertension  heart_disease ever_married  \
0      9046    Male  67.0             0              1          Yes
1     51676  Female  61.0             0              0          Yes
2     31112    Male  80.0             0              1          Yes
3     60182  Female  49.0             0              0          Yes
4      1665  Female  79.0             1              0          Yes
...     ...     ...   ...           ...            ...          ...
5105  18234  Female  80.0             1              0          Yes
5106  44873  Female  81.0             0              0          Yes
5107  19723  Female  35.0             0              0          Yes
5108  37544    Male  51.0             0              0          Yes
5109  44679  Female  44.0             0              0          Yes

          work_type Residence_type  avg_glucose_level   bmi   smoking_status  \
0           Private          Urban             228.69  36.6  formerly smoked
1     Self-employed          Rural             202.21   NaN     never smoked
2           Private          Rural             105.92  32.5     never smoked
3           Private          Urban             171.23  34.4           smokes
4     Self-employed          Rural             174.12  24.0     never smoked
...             ...            ...                ...   ...              ...
5105        Private          Urban              83.75   NaN     never smoked
5106  Self-employed          Urban             125.20  40.0     never smoked
5107  Self-employed          Rural              82.99  30.6     never smoked
5108        Private          Rural             166.29  25.6  formerly smoked
5109       Govt_job          Urban              85.28  26.2          Unknown

      stroke
0          1
1          1
2          1
3          1
4          1
...      ...
5105       0
5106       0
5107       0
5108       0
5109       0

[5110 rows x 12 columns]>

In [4]:
print("to see if there are some Null values")
print(datafile.isnull())

to see if there are some Null values
         id  gender    age  hypertension  heart_disease  ever_married  \
0     False   False  False         False          False         False
1     False   False  False         False          False         False
2     False   False  False         False          False         False
3     False   False  False         False          False         False
4     False   False  False         False          False         False
...     ...     ...    ...           ...            ...           ...
5105  False   False  False         False          False         False
5106  False   False  False         False          False         False
5107  False   False  False         False          False         False
5108  False   False  False         False          False         False
5109  False   False  False         False          False         False

      work_type  Residence_type  avg_glucose_level    bmi  smoking_status  \
0         False           False              False  False           False
1         False           False              False   True           False
2         False           False              False  False           False
3         False           False              False  False           False
4         False           False              False  False           False
...         ...             ...                ...    ...             ...
5105      False           False              False   True           False
5106      False           False              False  False           False
5107      False           False              False  False           False
5108      False           False              False  False           False
5109      False           False              False  False           False

      stroke
0      False
1      False
2      False
3      False
4      False
...      ...
5105   False
5106   False
5107   False
5108   False
5109   False

[5110 rows x 12 columns]

In [5]:
print("the data shape")
print(datafile.shape)

the data shape
(5110, 12)

THIS IS WHERE VISUALIZATION COMES IN

In [7]:
stroke = datafile[datafile["stroke"] == 1]
no_stroke = datafile[datafile["stroke"] == 0]
print('The shape of the model before reshaping is')
print("stroke - ", stroke.shape)
print("no stroke-", no_stroke.shape)

The shape of the model before reshaping is
stroke -  (249, 12)
no stroke- (4861, 12)

In [8]:
from sklearn.utils import resample

no_stroke = resample(no_stroke,
                     replace=True,
                     n_samples=len(stroke),
                     random_state=42)

print('The shape of the model after reshaping is')
print("stroke - ", stroke.shape)
print("no stroke-", no_stroke.shape)

datafile = pd.concat([stroke, no_stroke])
print('the general shape of entire final data is', datafile.shape)

datafile['gender'] = datafile['gender'].map({'Male': 0, 'Female': 1})

datafile['Residence_type'] = datafile['Residence_type'].map({'Rural': 0, 'Urban': 1})

datafile['ever_married'] = datafile['ever_married'].map({'No': 0, 'Yes': 1})

datafile['smoking_status'] = datafile['smoking_status'].map(
    {'formerly smoked': 2, 'smokes': 1, 'never smoked': 0, 'Unknown': 3})

print(datafile.head(20))

datafile.isnull().sum()

datafile = datafile.dropna()
datafile.isnull().sum()

datafile.shape

X = datafile[['gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'Residence_type', 'smoking_status']]

y = datafile.stroke

X.shape

y.shape

"""now thw model building stage"""

from sklearn.model_selection import train_test_split

x_train, x_cv, y_train, y_cv = train_test_split(X, y, test_size=0.2, random_state=10)

from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(max_depth=4, random_state=10)
model.fit(x_train, y_train)

"""checking accuracy on the validation set"""

from sklearn.metrics import accuracy_score

pred_cv = model.predict(x_cv)
accur_score = accuracy_score(y_cv, pred_cv)
print("the accuracy score on the validation set is", accur_score)
"""checking accuracy on the training set"""

pred_train = model.predict(x_train)
accu_score = accuracy_score(y_train, pred_train)
print("the accuracy on the training set", accu_score)

# saving the model
import pickle

pickle_out = open("classifier.pkl", mode="wb")
pickle.dump(model, pickle_out)
pickle_out.close()
print('The model has been created and saved successfully')

The shape of the model after reshaping is
stroke -  (249, 12)
no stroke- (249, 12)
the general shape of entire final data is (498, 12)
       id  gender   age  hypertension  heart_disease  ever_married  \
0    9046       0  67.0             0              1             1
1   51676       1  61.0             0              0             1
2   31112       0  80.0             0              1             1
3   60182       1  49.0             0              0             1
4    1665       1  79.0             1              0             1
5   56669       0  81.0             0              0             1
6   53882       0  74.0             1              1             1
7   10434       1  69.0             0              0             0
8   27419       1  59.0             0              0             1
9   60491       1  78.0             0              0             1
10  12109       1  81.0             1              0             1
11  12095       1  61.0             0              1             1
12  12175       1  54.0             0              0             1
13   8213       0  78.0             0              1             1
14   5317       1  79.0             0              1             1
15  58202       1  50.0             1              0             1
16  56112       0  64.0             0              1             1
17  34120       0  75.0             1              0             1
18  27458       1  60.0             0              0             0
19  25226       0  57.0             0              1             0

        work_type  Residence_type  avg_glucose_level   bmi  smoking_status  \
0         Private               1             228.69  36.6               2
1   Self-employed               0             202.21   NaN               0
2         Private               0             105.92  32.5               0
3         Private               1             171.23  34.4               1
4   Self-employed               0             174.12  24.0               0
5         Private               1             186.21  29.0               2
6         Private               0              70.09  27.4               0
7         Private               1              94.39  22.8               0
8         Private               0              76.15   NaN               3
9         Private               1              58.57  24.2               3
10        Private               0              80.43  29.7               0
11       Govt_job               0             120.46  36.8               1
12        Private               1             104.51  27.3               1
13        Private               1             219.84   NaN               3
14        Private               1             214.09  28.2               0
15  Self-employed               0             167.41  30.9               0
16        Private               1             191.61  37.5               1
17        Private               1             221.29  25.8               1
18        Private               1              89.22  37.8               0
19       Govt_job               1             217.08   NaN               3

    stroke
0        1
1        1
2        1
3        1
4        1
5        1
6        1
7        1
8        1
9        1
10       1
11       1
12       1
13       1
14       1
15       1
16       1
17       1
18       1
19       1
the accuracy score on the validation set is 0.7802197802197802
the accuracy on the training set 0.8319559228650137
The model has been created and saved successfully